    <div id="sidebar" style="float:left; width:25%;margin-top:40px; margin-left:20px">
      <ul>
	<li>
          <a href="ui/maas-documentation.html"><b>MAAS Documentation</b></a>
	</li>
	<hr style="margin-top:15px;">
	<li>
          <details>
            <summary><a href="ui/tutorial.html">Tutorials</a></summary>
            <ul>
              <li>
		<details>
                  <summary><a href="ui/try-out-maas.html">Try out MAAS</a></summary>
		  <ul>
		    <li>
		      <a href="ui/bootstrap-maas.html">Bootstrap MAAS</a>
		    </li>
		    <li>
		      <a href="ui/get-to-know-your-machines.html">Get to know your machines</a>
		    </li>
		  </ul>
		</details>
              </li>
	      <li>
		<a href="ui/try-out-the-maas-cli.html">Try out the MAAS CLI</a>
	      </li>
	      <li>
		<a href="ui/create-custom-images.html">Create custom images</a>
	      </li>
	      <li>
		<a href="ui/get-fancy-cli-output.html">Create custom images</a>
	      </li>
              <li>
		<details>
                  <summary><a href="ui/primer-tutorials.html">Primer tutorials</a></summary>
		  <ul>
		    <li>
		      <a href="ui/osi-model-tutorial.html">OSI model tutorial</a>
		    </li>
		  </ul>
		</details>
              </li>
            </ul>
          </details>
	</li>
	<hr style="margin-top:15px;">
	<li>
          <details>
            <summary><a href="ui/how-to-guides.html">How-to guides</a></summary>
            <ul>
              <li>
		<details>
                  <summary><a href="ui/get-started-with-maas.thml">Get started with MAAS</a></summary>
		  <ul>
                    <li>
                      <a href="ui/do-a-fresh-install-of-maas.html">Do a fresh install of MAAS</a>
		    </li>
		    <li>
                      <a href="ui/upgrade-maas.html">Upgrade MAAS</a>
		    </li>
		    <li>
                      <a href="ui/spin-up-maas-with-ansible.html">Spin up MAAS with Ansible</a>
		    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
                  <summary><a href="ui/set-up-networks.html">Set up networks</a></summary>
		  <ul>
                    <li>
                      <a href="ui/connect-maas-networks.html">Connect MAAS networks</a>
                    </li>
                    <li>
                      <a href="ui/enable-dhcp.html">Enable DHCP</a>
                    </li>
                    <li>
                      <a href="ui/use-availability-zones.html">Use availability zones</a>
                    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
                  <summary><a href="ui/use-images.html">Use images</a></summary>
		  <ul>
                    <li>
                      <a href="ui/use-standard-images.html">Use standard images</a>
                    </li>
                    <li>
                      <a href="ui/mirror-images-locally.html">Mirror images locally</a>
                    </li>
                    <li>
                      <a href="ui/customise-images.html">Customise images</a>
                    </li>
                    <li>
                      <a href="ui/employ-vmware-images.html">Employ VMWare images</a>
                    </li>
                    <li>
                      <a href="ui/deply-a-rt-kernel.html">Deploy a RT kernel</a>
                    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
                  <summary><a href="ui/manage-controllers.html">Manage controllers</a></summary>
		  <ul>
		    <li>
		      <a href="ui/configure-controllers.html">Configure controllers</a>
		    </li>
		    <li>
		      <a href="ui/enable-high-availability.html">Enable high availability</a>
		    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
                  <summary><a href="ui/manage-machines.html">Manage machines</a></summary>
		  <ul>
		    <li>
		      <a href="ui/make-machines-available.html">Make machines available</a>
		    </li>
		    <li>
		      <a href="ui/customise-machines.html">Customise machines</a>
		    </li>
		    <li>
		      <a href="ui/put-machines-to-work.html">Put machines to work</a>
		    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
                  <summary><a href="ui/use-virtual-machines.html">Use virtual machines</a></summary>
		  <ul>
		    <li>
		      <a href="ui/set-up-lxd.html">Set up LXD</a>
		    </li>
		    <li>
		      <a href="ui/manage-vm-hosts.html">Manage VM hosts</a>
		    </li>
		    <li>
		      <a href="ui/manage-virtual-machines.html">Manage virtual machines</a>
		    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
                  <summary><a href="ui/label-devices.html">Label devices</a></summary>
		  <ul>
		    <li>
		      <a href="ui/tag-machines.html">Tag machines</a>
		    </li>
		    <li>
		      <a href="ui/annotate-machines.html">Annotate machines</a>
		    </li>
		    <li>
		      <a href="ui/use-machine-tags.html">Use machine tags</a>
		    </li>
		    <li>
		      <a href="ui/use-controller-tags.html">Use controller tags</a>
		    </li>
		    <li>
		      <a href="ui/use-storage-tags.html">Use storage tags</a>
		    </li>
		    <li>
		      <a href="ui/use-network-tags.html">Use network tags</a>
		    </li>
		  </ul>
		</details>
              </li>
	      <li>
		<details>
                  <summary><a href="ui/secure-maas.html">Secure MAAS</a></summary>
		  <ul>
		    <li>
		      <a href=.html"improve-MAAS-security.html">Improve MAAS security</a>
		    </li>
		    <li>
		      <a href="ui/manage-user-accounts.html">Manage user accounts</a>
		    </li>
		    <li>
		      <a href="ui/enable-MAAS-native TLS.html">Enable MAAS native TLS</a>
		    </li>
		    <li>
		      <a href="ui/use-Vault-with-MAAS.html">Use Vault with MAAS</a>
		    </li>
		    <li>
		      <a href="ui/set-up-an-air-gapped MAAS.html">Set up an air-gapped MAAS</a>
		    </li>
		  </ul>
		</details>
              </li>
            </ul>
          </details>
	</li>
	<hr style="margin-top:15px;">
	<li>
          <details>
            <summary><a href="ui/reference.html">Reference</a></summary>
            <ul>
	      <details>
		<summary><a href="ui/release-notes.html">Release notes</a></summary>
		<ul>
		  <li>
		    <a href="ui/maas-3-4-release notes.html">MAAS 3.4 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-3-3-release notes.html">MAAS 3.3 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-3-2-release notes.html">MAAS 3.2 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-3-1-release notes.html">MAAS 3.1 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-3-0-release notes.html">MAAS 3.0 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-2-9-release notes.html">MAAS 2.9 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-2-8-release notes.html">MAAS 2.8 release notes</a>
              	  </li>
		  <li>
              	    <a href="ui/maas-2-7-release notes.html">MAAS 2.7 release notes</a>
              	  </li>
		</ul>
	      </details>
              <li>
		<details>
                  <summary><a href="ui/general-reference.html">General</a></summary>
		  <ul>
		    <li>
		      <a href="ui/maas-settings.html">Settings</a>
		    </li>
		    <li>
		      <a href="ui/https://launchpad.net/maas">Source code</a>
		    </li>
		    <li>
		      <a href="ui/doc-style-guide.html">Doc style guide</a>
		    </li>
		    <li>
		      <a href="ui/glossary.html">Glossary</a>
		    </li>
		    <li>
		      <a href="ui/https://ubuntu.com/community/code-of-conduct">Code of conduct</a>
		    </li>
		  </ul>
		</details>
	      </li>
              <li>
		<details>
		  <summary><a href="ui/api.html">API</a></summary>
		  <ul>
		    <li>
                      <a href="ui/api-authentication.html">API authentication</a>
                    </li>
		    <li>
                      <a href="ui/python-api-client.html">Python API client</a>
                    </li>
		    <li>
                      <a href="ui//docs/api">API documentation</a>
                    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
		  <summary><a href="ui/scripts.html">Scripts</a></summary>
		  <ul>
		    <li>
                      <a href="ui/commissioning-scripts.html">Commissioning scripts</a>
                    </li>
		    <li>
                      <a href="ui/hardware-test-scripts.html">Hardware test scripts</a>
                    </li>
		    <li>
                      <a href="ui/terraform.html">Terraform</a>
                    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
		  <summary><a href="ui/logging.html">Logging</a></summary>
		  <ul>
		    <li>
                      <a href="ui/event-logs.html">Event logs</a>
                    </li>
		    <li>
                      <a href="ui/audit-event-logs.html">Audit event logs</a>
                    </li>
		    <li>
                      <a href="ui/commissioning-logs.html">Commissioning logs</a>
                    </li>
		    <li>
                      <a href="ui/testing-logs.html">Testing logs</a>
                    </li>
		  </ul>
		</details>
              </li>
              <li>
		<details>
		  <summary><a href="ui/machine-parameters.html">machine-parameters</a></summary>
		  <ul>
		    <li>
                      <a href=.html"power-drivers.html">Power drivers</a>
                    </li>
		    <li>
                      <a href="ui/storage-layouts.html">Storage layouts</a>
                    </li>
		    <li>
                      <a href="ui/device-labelling.html">Device labelling</a>
                    </li>
		  </ul>
		</details>
              </li>
	    </ul>
	  </details>
	</li>
	<hr style="margin-top:15px;">
	<li>
	  <details>
	    <summary><a href="ui/explanation.html">Explanation</a></summary>
	    <ul>
	      <li>
		<a href="ui/maas.html">About MAAS</a>
		-           </li>
	      <li>
		<a href=.html"high-availability.html">High availability</a>
              </li>
	      <li>
		<details>
		  <summary>Networking</summary>
		  <ul>
		    <li>
		      <a href="ui/maas-networks.html">MAAS networks</a>
		    </li>
		    <li>
		      <a href="ui/tcp/IP-primer.html">TCP/IP primer</a>
		    </li>
		    <li>
		      <a href="ui/dhcp-primer.html">DHCP primer</a>
		    </li>
		    <li>
		      <a href="ui/cloud-networking-primer.html">Cloud networking primer</a>
		    </li>
		  </ul>
		</details>
	      </li>
	      <li>
		<a href="ui/images.html">Images</a>
              </li>
	      <li>
		<a href="ui/controllers.html">Controllers</a>
              </li>
	      <li>
		<a href="ui/machines.html">Machines</a>
              </li>
	      <li>
		<a href="ui/virtual-machines.html">Virtual machines</a>
              </li>
	      <li>
		<a href="ui/device-labels.html">Device labels</a>
              </li>
	      <li>
		<a href="ui/maas-events.html">Events</a>
              </li>
	      <li>
		<a href="ui/audit-events.html">Audit events</a>
              </li>
	      <li>
		<a href="ui/maas-logging.html">Logging</a>
              </li>
	      <li>
		<a href="ui/maas-security.html">Security</a>
              </li>
	      <li>
		<a href="ui/maas-performance.html">Performance</a>
              </li>
	      <li>
		<a href="ui/ansible.html">Ansible</a>
              </li>
	    </ul>
	  </details>
	</li>
      </ul>
    </div>
