      #selector a:link{color:black;}
      #selector a:visited{color:black;}
      #selector a:active{color:black;}
      #selector a:hover{color:blue;}
      #sidebar a:link{color:black;}
      #sidebar a:visited{color:black;}
      #sidebar a:active{color:black;}
      #sidebar a:hover{color:blue;}
      ul {margin-left:0;margin-top:0;margin-bottom:0;list-style-type:none;padding-left:20px;}
      li {margin: 4px 0;}
      details {margin-top:0;margin-bottom:0;}
      details > summary {
	  padding: 0px;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  width: 200px;
	  background-color: #ffffff;
	  border: none;
	  cursor: pointer;
    	  list-style-type: "< ";
	  direction: rtl;
      }
      details[open] > summary {
	  list-style-type: "v ";
      }
